<div class="navbar">
  <div>
    <img src="images/logo2.png" style="width: 75px;" />
  </div>
  <nav>
    <ul id="MenuItems">
      <li><a href="/home">Home</a></li>
      <li><a href="/stats">Stats</a></li>
      <li><a href="/compare">Compare</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>
</div>

<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
</a>