<div id="signup-container">
    <div class="login-header">
        <h1>Signup</h1>
        <p>Signup with email</p>
    </div>
    <form id="signup-form">
        <div class="form">
            <label for="username-signup">Username</label>
            <input class="form-input" type="text" id="username-signup"/>
        </div>
        <div class="form">
            <label for="email-signup">Email</label>
            <input class="form-input" type="text" id="email-signup"/>
        </div>
        <div class="form">
            <label for="password-signup">Password</label>
            <input class="form-input" type="password" id="password-signup"/>
        </div>
        <div class="form">
            <button type="submit">Login</button>
        </div>
    </form>
</div>
